body{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 50px;
}

tr:nth-child(odd)		{ background-color: #edf6ff; }

tr:nth-child(even)		{ background-color: #f5fafe; }

table {
	width: 800px;
}

td {
	padding: 5px 20px;
}