{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />

<h1>Object: {{ object.name }}</h1>

{% if quantities %}
    <ul>
    {% for quantity in quantities %}
        {% if quantity.uncertainty %}
            <li> {{ quantity.definition.name }} = {{ quantity.value }} {{ quantity.unit }} (from {{ quantity.origin }})</li>
        {% else %}
            <li> {{ quantity.definition.name }} = {{ quantity.value }} &plusmn; {{ quantity.uncertainty }} {{ quantity.unit }} (from {{ quantity.origin }})</li>
    &plusmn;
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No quantities are available.</p>
{% endif %}
